<ng-container *ngIf="!isLoading; loadingView">
  <div>
    <h2>Create New Usecase</h2>
  </div>

  <div>
    <input type="text" #todoInput />
    <button (click)="addTodo(todoInput.value); todoInput.value = ''">
      Add Todo
    </button>
  </div>

  <div class="full-page">
    <div
      *ngFor="let todo of todos"
      class="todo"
      [class.completed]="todo.status"
    >
      {{ todo.body }}

      <button (click)="setDone(todo.id)">Done</button>
      <button (click)="updateTodo(todo, todoUpdate.value)">Update</button>
      <div>
        <input type="text" #todoUpdate [value]="todo.body" />
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingView>
  <h1>Loading</h1>
</ng-template>
