<ng-container *ngIf="!isLoading; loadingView">
  <div>
    <h2>TODOs</h2>
  </div>

  <input [(ngModel)]="bodyFilterValue" placeholder="Filter by body..." />

  <div>
    <h2>Filter by status:</h2>

    <select [(ngModel)]="statusFilterValue">
      <option [ngValue]="undefined">...</option>
      <option [ngValue]="true">Done</option>
      <option [ngValue]="false">Not Done</option>
    </select>
  </div>

  <!-- Add Todo -->
  <div>
    <input type="text" #todoInput />

    <button (click)="addTodo(todoInput.value); todoInput.value = ''">
      Add Todo
    </button>
  </div>

  <!-- Logout -->
  <div style="position: absolute; right: 50px; top: 50px">
    <button
      (click)="logout()"
      style="width: 100px; height: 40px; background-color: bisque"
    >
      Logout
    </button>
  </div>

  <!-- Todo List -->
  <div class="full-page">
    <div
      *ngFor="
        let todo of todos
          | filterTodoByBody: bodyFilterValue
          | async
          | filterTodoByStatus: statusFilterValue
          | async
      "
      class="todo"
      [class.completed]="todo.status"
    >
      {{ todo.body }}

      <button (click)="setDone(todo.id)">Done</button>
      <button (click)="updateTodo(todo, todoUpdate.value)">Update</button>
      <button (click)="deleteTodo(todo.id)">Delete</button>
      <div>
        <input type="text" #todoUpdate [value]="todo.body" />
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadingView>
  <h1>Loading</h1>
</ng-template>
